body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#progress {
    display: flex;
    flex-direction: row;
    width: 25%;
    align-self: center;
    justify-content: space-between;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-self: center;
}

button {
    border-radius: 8px;
    color: white;
    background-color: #4fa1f8;
    border: 0;
    margin: 10px 6px;
    width: 7.5vw;
    height: 4.5vh;
    cursor: pointer;
    transition: all 0.5s;
}

.disabled {
    background-color: #cbcbcb;
    cursor: not-allowed;
}

p {
    border: 3px #cbcbcb solid;
    border-radius: 50%;
    padding: 8px;
    width: 10px;
    height: 10px;
    color: grey;
    align-items: center;
    display: flex;
    margin: 50px 0px;
    transition: all 0.5s;
    z-index: 1;
    background-color: white;
}

.active {
    border: #4fa1f8 3px solid;
}

#progress-bar {
    align-self: center;
    width: 0%;
    height: 3px;
    background-color: #4fa1f8;
    z-index: -1;
    position: absolute;
    transition: all 0.4s ease;

}

button:active {
    transform: scale(0.95);
}