body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: #333;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    background-color: white;
    height: 100%;
}

img {
    width: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    width: 65vw;
    margin: 0 auto;
}

#menu-icons {
    position: absolute;
}

h1 {
    color: rgb(29, 29, 29);
    margin-top: 10%;
    margin-bottom: 5px;
    font-size: 1.8rem;
    font-weight: 700;
}

h2 {
    color: rgb(29, 29, 29);
    font-size: 1.2rem;
    font-weight: 600;
}

h3 {
    margin-top: 0;
    color: rgb(106, 102, 102);
    font-weight: 100;
    font-style: italic;
    font-size: 0.9rem;
}

p {
    color: rgb(70, 69, 69);
    line-height: 1.5rem;
}

#menu-buttons {
    padding: 90px;
    background-color: salmon;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}

#close-icon {
    transform: translate(-150%, 150%);
}

#menu-icon {
    transform: translate(150%, 150%);
}

i {
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
}