* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    outline: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

section {
    top: 0;
    width: 100vw;
    height: 100vh;
    color: white;
    font-size: 2.5rem;
    position: absolute;
    background-repeat: no-repeat;
    transition: all 1s ease-in-out;
}

#ps {
    background-image: url('img/ps.jpg');
    transform: translateX(-50vw);
    background-position: top right;
    background-size: 75%;
}

#xbox {
    background-image: url("img/xbox.jpg");
    transform: translateX(50vw);
}

#ps-div {
    background-image: linear-gradient(45deg, rgba(0, 42, 255, 0.5), rgba(64, 0, 255, 0.5));
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#xbox-div {
    background-image: linear-gradient(45deg, rgba(0, 42, 255, 0.5), rgba(64, 0, 255, 0.5));
    height: 100vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 200px;
    transition: all 1s ease-in-out;
}

h1 {
    margin-bottom: 20px;
}


button {
    background-color: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 3px;
    font-size: 0.9rem;
    padding: 25px 80px;
    font-weight: bold;
    margin-bottom: 150px;
}

#ps-button:hover {
    background-color: #3b62b5;
    border: 3px solid #3b62b5;
    transition: all 0.2s;
}

#xbox-button:hover {
    background-color: #09880e;
    border: 3px solid #09880e;
    transition: all 0.2s;
}