* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #686de0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

main {
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    width: 800px;
    max-width: 100%;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 1.2rem;
    letter-spacing: 3px;
    opacity: 0.5;
    margin: 50px 0;
}

p {
    max-width: 600px;
    font-size: 1.8rem;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
}

button {
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    background-color: #9f68e0;
    color: #fff;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    outline: 0;
    margin-bottom: 50px;
}