body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Muli', sans-serif;
}

div:nth-of-type(1) {
    background-image: url('https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')
}

div:nth-of-type(2) {
    background-image: url('https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')
}

div:nth-of-type(3) {
    background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80')
}

div:nth-of-type(4) {
    background-image: url('https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80')
}

div:nth-of-type(5) {
    background-image: url('https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')
}

div {
    border-radius: 50px;
    align-content: end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 80vh;
    width: 6vw;
    cursor: pointer;
}

h1 {
    color: white;
    opacity: 0;
    transition: all 0.5s;
    margin: 20px;
}

.default-on h1 {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.default-on {
    width: 80vw;
}

section {
    display: flex;
    width: 90vw;
    height: 80vh;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}