* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Space Grotesk", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    margin: 15px auto;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.original {
    background-color: rgb(25, 117, 203);
    font-size: 1.5rem;
    margin: 20px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    width: 20vw;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    transform: translateX(60vw);
}

.original:nth-of-type(even) {
    transform: translateX(-60vw);
}

.slide-in {
    transform: translateX(0);
}